<!--<!doctype html>-->

<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<html lang="en">-->
<!--<head>-->
<!--    <title>Café Bar La Floridita</title>-->
<!--</head>-->
<!--<body>-->
<!--<div style='background-color: #f3f4f6; padding: 24px;'>-->
<!--    <div style='max-width: 480px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); overflow: hidden;'>-->
<!--        <div style='padding: 24px;'>-->
<!--            <img src="https://i.postimg.cc/c1nXHsY9/Logo-Floridita-Bordo.avif" alt='Logo La Floridita' style='display: block; margin: 0 auto; max-width: 200px; margin-bottom: 24px;'/>-->
<!--            <h2 style='font-size: 24px; font-weight: bold; color: #333333; margin-bottom: 16px; text-align: center;'>Mensaje enviado por: <span th:text="${firstName}"></span></h2>-->
<!--            <p style='color: #666666; margin-bottom: 24px; text-align: justify;'>Email: <span th:text="${email}"></span></p>-->
<!--            <p style='color: #666666; margin-bottom: 24px; text-align: justify;'>Mensaje: <span th:text="${message}"></span></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->