<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <title>Café Bar La Floridita</title>
</head>
<body>
<div style='background-color: #f3f4f6; padding: 24px;'>
    <div style='max-width: 480px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); overflow: hidden;'>
        <div style='padding: 24px;'>
            <div style="background-image: url('https://i.imgur.com/ehVbOjb.png'); background-size: contain; background-repeat: no-repeat; background-position: center; height: 115px; margin-bottom: 24px;"></div>
            <h2 style='font-size: 24px; font-weight: bold; color: #333333; margin-bottom: 16px; text-align: center;'>Gracias por comunicarte con La Floridita Café Bar!</h2>
            <p style='color: #666666; margin-bottom: 24px;'>Estimada/o, <span th:text="${firstName}"></span>:</p>
            <p style='color: #666666; margin-bottom: 24px; text-align: justify;'>Gracias por comunicarte con nosotros. Recibimos tu consulta y nos pondremos en contacto contigo lo antes posible. Valoramos tu paciencia y comprensión.</p>
            <p style='color: #666666; margin-bottom: 24px; text-align: justify;'>Si tenés alguna pregunta o inquietud urgente, no dudes en contactarnos directamente al <a href='tel:+123456789'>+1 (234) 567-89</a>.</p>
            <p style='color: #666666; margin-bottom: 24px;'>Desde ya muchas gracias, deseando que tengas una excelente jornada,</p>
            <p style='font-weight: bold; color: #51280D;'>La Floridita Café Bar</p>
        </div>
    </div>
</div>
</body>
</html>

